{% extends 'base.html' %}

{% block body %}
<body style= "background-color:#fef4ec">
{% endblock body %}

{% block main %}

<div class="row" style="position:relative;top:10%;left:10%;">
  <div class="column" style= "width:80%;margin-top:50px;" >
    <h5 class="bursh_text"> Please Enter your Profile Details</h1>
    {% if session['username'] %}
    <br><div class="lorem_text">
    Welcome {{session['username']}}
    </div>
    {% endif %}
  </div>
</div>
<div class="col-lg-8 col-sm-14" style="position:relative;top:0;left:30%">
<form   name="athleteform" id="athleteForm" action="#" method="post" enctype="multipart/form-data">
 <div class="col-lg-6 col-sm-12" style="position:relative;top:0%;left:100px">
 {% include "athleteprofiletemplate.html" %}
 </form>
 </div>

 
 <script src="static/js/formscripts.js"></script> 
</body>
{% endblock main %}
