    <input type="hidden" name="profileimg1" id="profileimg1" value="{{athlete.profileimg}}">
    <input type="hidden" name="filename11" id="filename11" value="{{athlete.filename1}}">
    <input type="hidden" name="filename12" id="filename12" value="{{athlete.filename2}}">
    <input type="hidden" name="filename13" id="filename13" value="{{athlete.filename3}}">
    <input type="hidden" name="filename14" id="filename14" value="{{athlete.filename4}}">
    <input type="hidden" name="filename15" id="filename15" value="{{athlete.filename5}}">
    
    <div class="row" style="position:relative;top:-25px;left:-55px;background-color:#FFFFFF;width:100%;display:flex">
      <div class="column" style= "margin-left:30px;margin-top:30px;width:70%;height:50%;">
            <div style="margin-bottom: 10px">First Name:<input type= "text" name= "firstname" id= "firstname" placeholder="First Name"  value="{{athlete.firstname}}"></input></div>
            <div style="margin-bottom: 10px">Surname:<input type= "text" name= "surname" id= "surname" placeholder="Surname"  value="{{athlete.surname}}"></input></div>
             <div style="margin-bottom: 10px">Phone No:<input type= "text" name= "phoneno" id= "phoneno" placeholder="Phone No"  value="{{athlete.phoneno}}"></input></div>
            <div style="margin-bottom: 10px">Email:<input type= "email" name= "email" id= "email" placeholder="Email"  value="{{athlete.email}}"></input></div>
            
          </div>
          <div class="column" style= "margin-left:30px;margin-top:30px;width:100%">
            <div style="margin-bottom: 10px">Age:<br><input type= "text" name= "age" id= "age" placeholder="Age"  value="{{athlete.age}}"></input></div>
            <div style="margin-bottom: 10px">Sport:<br><input type= "text" name= "sport" id= "sport" placeholder="Sport"  value="{{athlete.sport}}"></input></div>
            <div style="margin-bottom: 10px">Rank:<br><input type= "text" name= "rank" id= "rank" placeholder="Rank"  value="{{athlete.rank}}"></input></div>
            <div style="margin-bottom: 10px" class="header_04">
              {% if athlete.profileimg %}
              <img src="static/uploads/{{athlete.profileimg}}" alt="Current Profile Picture" width="65">
              {% endif %}
              Edit Picture:<input type="file" name="profileimg" id="profileimg" onchange="fileValidation('profileimg');"></input></div>
          </div>
        </div>
  
   
  <br>
  
  <!-- Container for the image gallery --> 
  <div class="container"  style="background-color:#FFFFFF;width:100%;position:relative;top:-5px;left:-55px;">
                    
    <!-- Full-width images with number text -->
    <div  style="margin-bottom: 10px"  class="header_04">Choose To Edit Your Achievement Pictures To Upload</div>
    <div  style="display: flex; align-items: center;border:1px solid grey;margin-left:0px;margin-bottom:10px">{% if athlete.filename1 %}<img src="static/uploads/{{athlete.filename1}}" alt="File 1" width="100">&nbsp;&nbsp;{% endif %} <input type="file" name="filename1" id="filename1" onchange="fileValidation('filename1');"></input></div>
    <div style="display: flex; align-items: center;border:1px solid grey;margin-bottom: 10p">{% if athlete.filename2 %}<img src="static/uploads/{{athlete.filename2}}" alt="File 2" width="100">&nbsp;&nbsp;{% endif %}<input type="file" name="filename2" id="filename2" onchange="fileValidation('filename2');"></input></div>
    <div style="display: flex; align-items: center;border:1px solid grey;margin-bottom: 10px">{% if athlete.filename3 %}<img src="static/uploads/{{athlete.filename3}}" alt="File 3" width="100">&nbsp;&nbsp;{% endif %}<input type="file" name="filename3" id="filename3" onchange="fileValidation('filename3');"></input></div>
    <div style="display: flex; align-items: center;border:1px solid grey;margin-bottom: 10px">{% if athlete.filename4 %}<img src="static/uploads/{{athlete.filename4}}" alt="File 4" width="100">&nbsp;&nbsp;{% endif %}<input type="file" name="filename4" id="filename4" onchange="fileValidation('filename4');"></input></div>
    <div style="display: flex; align-items: center;border:1px solid grey;margin-bottom: 10px">{% if athlete.filename5 %}<img src="static/uploads/{{athlete.filename5}}" alt="File 5" width="100">&nbsp;&nbsp;{% endif %}<input type="file" name="filename5" id="filename5" onchange="fileValidation('filename5');"></input></div>
  </div>
  
    
  <br>
  <div class="container" style="position:relative;top:-5px;left:-50px;width:100%">
    <div>
      <div class="row gutters-sm">
        <div class="card mb-3">
          <div class="card-body">
            <div class="col-sm-9">                    
              <div class="row">
                <h2 class="mb-0">Achievements</h2>
                <div class="col-sm-9 text-secondary">
                  <textarea name="achievements" id="achievements" rows="4" cols="50">{{athlete.achievements}}</textarea>
                </div>
              </div>
              <hr>
              <div class="row">
                <h2 class="mb-0">Best Record</h2>
                <div class="col-sm-9 text-secondary">
                  <textarea name="bestrecord" id="bestrecord" rows="4" cols="50">{{athlete.bestrecord}}</textarea>
                </div>
              </div>
              <hr>                  
              <div class="row">
                <h2 class="mb-0">Coach</h2>
                <div class="col-sm-20 text-secondary" style="width:300px;">
                  {{coach.firstname}}&nbsp;{{coach.surname}} 
                </div>
              </div>
              <hr>
              <div class="row">
                <h2 class="mb-0">Coach Contact</h2>
                <div class="col-sm-18 text-secondary" style="width:100%">
                  {{coach.phoneno}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="assignbt">
                    <li><a href="#" id="submitLink" id="submitLink" onclick="submitForm('athleteForm')">Save Profile</a></li>
                    
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  