
{% extends 'base.html' %}

{% block body %}
<body class="templatemo-bg-image-1">
{% endblock body %}

{% block main %}
<br><br><br><br><br><br>
<div class="container">
	<div class="col-md-12">			
		<form class="form-horizontal templatemo-login-form-2" role="form" action="#" method="post">
			<div class="row">
				<div class="col-md-12" style = "padding-top: 30px;">
					<h1><b>Home</b></h1>
				</div>
			</div>
			<div class="row">
				<div class="templatemo-one-signin col-md-12">
					<div class="col-md-12">
							<p>This is a website to bla bla bla</p>
					
					</div>


				
					</div>	

				</div>
			</div>				 	
		</form>		      		      
	</div>
</div>
{% endblock main %}
