{% extends 'base.html' %}

{% block main %}


<body style= "background-color:#fef4ec">
    <div class="product_section layout_padding">
        <div class="container">
        <div class="row">
            <div class="col-sm-12" style="position:relative;top:5%;left:2%;">
                <h1>{{title}}</h1>
            </div>
        </div>
   
            <div class="row" style="background-color:#fef4ec"></div>
            <!--
            <script>
              const textElement = document.getElementById("dynamicText");
              const initialTextLength = 0.05; // Initial textLength as a percentage of the SVG width
          
              function adjustTextLength() {
                  const svgWidth = 1500; // SVG width
                  const textContent = textElement.textContent.trim();
                  const textLengthPercentage = initialTextLength + (textContent.length / 100);
          
                  textElement.setAttribute("textLength", svgWidth * textLengthPercentage);
              }
          
              // Call the adjustTextLength function when the page loads and if the text content changes dynamically
              adjustTextLength();
          </script>        

            -->

          <div class="row" >
           
          {% for item in docs %}
     <svg width="1500" height="180" style="position:relative;top:10%;left:-50px">
     <g>
      <rect x="50" y="20" rx="20" ry="20" width="1000" height="100" style="fill:white;stroke:black;stroke-width:5;opacity:0.5"/>
      <text x="8%" y="39%"  fill="black" dominant-baseline="middle" text-anchor="middle" font-size="16px" id="dynamicText">{{item.request_subject}}</text>
      <text x="17%" y="39%"  fill="black" dominant-baseline="middle" text-anchor="middle" font-size="16px" id="dynamicText">{{item.request_amt}}</text>
      <text x="28%" y="39%"  fill="black" dominant-baseline="middle" text-anchor="middle" font-size="16px" id="dynamicText">{{item.request_enddate}}</text>
      <text x="41%" y="39%"  fill="black" dominant-baseline="middle" text-anchor="middle" font-size="16px" id="dynamicText">{{item.description}}</text>
    
      <foreignObject x="55%" y="-5%" width="200" height="150">
          <body>
              <div class="seemore_bt"><a href="requestdetails?requestID={{item._id}}" style="color:white">See More</a></div>
          </body>
      </foreignObject>
   
    </g>
    </svg>
          {% endfor %}
        </div>
        </div>
        </div>
    </div>

    
</body>
{% endblock main %}
