
{% extends 'base.html' %}

{% block body %}
<body class="templatemo-bg-image-1">
{% endblock body %}

{% block main %}
<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-login-form-2" role="form" action="#" method="post">
				<div class="row">
					<div class="col-md-12" style = "padding-top: 30px">
						<h1>Sign up</h1>
					</div>
				</div>
				<div class="row">

			<form action="/action_page.php">
  <label for="Role">Role:</label>
<span style="color: black; font-size:15px">
<select name="role" id="role">
    <option value="Company">Company</option>
    <option value="Individual">Individual</option>

  </select>
  <br><br>
  
</form>
					
</span>

				
					<div class="templatemo-one-signin col-md-15">
						<div class="form-group">
							<div class="col-md-12">
								<p>{{error}}</p>
							</div>
						</div>
				        <div class="form-group">
				          <div class="col-md-12">		          	
				            <label for="E-Mail" class="control-label">E-Mail</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-envelope"></i>
				            	<input type="email" class="form-control" id="email" name="email" placeholder="">
				            </div>		            		            		            
				          </div>              
				        </div>
					<div class="templatemo-one-signin col-md-15">
				        <div class="form-group">
				          <div class="col-md-12">		          	
				            <label for="username" class="control-label">Company/Individual Name</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-user"></i>
				            	<input type="text" class="form-control" id="companyname" name="companyname" placeholder="">
				            </div>		            		            		            
				          </div>              
				        </div>
						<div class="form-group">
							<div class="col-md-12">		          	
							  <label for="username" class="control-label">Phone Number</label>
							  <div class="templatemo-input-icon-container">
								  <i class="fa fa-user"></i>
								  <input type="text" class="form-control" id="phoneno" name="phoneno" placeholder="">
							  </div>		            		            		            
							</div>              
						  </div>
						  <div class="form-group">
							<div class="col-md-12">		          	
							  <label for="username" class="control-label">Address</label>
							  <div class="templatemo-input-icon-container">
								  <i class="fa fa-user"></i>
								  <textarea id="address" class="form-control" name="address" rows="5" cols="33">
								  </textarea>
								 
							  </div>		            		            		            
							</div>              
						  </div>
						  
						  <div class="form-group">
							<div class="col-md-12">
							  <label for="username" class="control-label">Username</label>
							  <div class="templatemo-input-icon-container">
								  <i class="fa fa-lock"></i>
								  <input type="text" class="form-control" id="username" name="username" placeholder="">
							  </div>
							</div>
						  </div>
				        <div class="form-group">
				          <div class="col-md-12">
				            <label for="password" class="control-label">Password</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-lock"></i>
				            	<input type="password" class="form-control" id="password" name="password" placeholder="">
				            </div>
				          </div>
				        </div>
				        
				        <div class="form-group">
				          <div class="col-md-12">
				            <input type="submit" value="SIGN UP" class="btn btn-warning">
				          </div>
				        </div>
				        <div class="form-group">
				          	<div class="col-md-12">
								<a href="login" class="text-center"><span style="color: #09F">Login</a></span>

				       	 	</div>
				    	</div>
					</div>
					
							

						</a>
					   
				</div>				 	
		      </form>		      		      
		</div>
	</div>
	{% endblock main %}