{% extends 'base.html' %}


{% block main %}

<body style= "background-color:#fef4ec">

<br>
<br>

<div class="row" style="position:relative;top:10%;left:5%;">
  <div style="width:30%;">
  
    <img src="static/images/sponsor.jpeg" alt="Admin" class="rounded-circle" width="200" style="position:relative; top:10%; left:134%">
  </div>

<div class="column text_02">
  <div style="margin-bottom: 10px; position:relative;top:10%;left:180%;">{{sponsorName}}</div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="product_taital" style="position:relative;top:-60px;">Sponsored athletes</h1>
      </div>
    </div>
    
    <div class="product_section_2 layout_padding" style="position:relative;top:-60px;">
      <div class="row">
        {% for item in docs %}
                <div class="col-lg-4 col-sm-9">
                  <div class="product_box" style="width: 70%;">
                    <h4 class="bursh_text">{{item.firstname}}</h4>
                    <p class="lorem_text">{{item.sport}}</p>
                    <img src="static/uploads/{{item.profileimg}}" class="image_1">
                    <div class="btn_main">
                      <div class="buy_bt" align="center">
                        <ul>
                          <li><a href= {{url_for('athleteprofile',id=item._id)}}>View Profile</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        {% endfor %}   
        </div>
      </div>

   </div>
    </div>

    </div>
</body>
{% endblock main %}
