{% extends 'base.html' %}

{% block main %}
<body style= "background-color:#fef4ec">
    <div class="product_section layout_padding">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Our Coaches</h1>
               
            </div>
        </div>
        <div class="product_section_2 layout_padding" align="center">
            <div class="row"  style="display:flex;justify-content: center;">
                {% for item in docs %}
                <div class="col-lg-3 col-sm-6">
                    <div class="view_box" >
                    <p class="lorem_text">{{item.firstname}}&nbsp;{{item.surname}}</p>
                    <p class="lorem_text">{{item.email}}</p>
                    <img src="static/uploads/{{item.profilepic}}" class="image_1_view">
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        </div>
    </div>

</body>
{% endblock main %}
