{% extends 'base.html' %}

{% block main %}
<body style= "background-color:#fef4ec">
    <div class="product_section layout_padding">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Our Sponsors</h1>
                
            </div>
        </div>
        <div class="product_section_2 layout_padding">
            <div class="row">

                {% for item in docs %}
                        
                      

                <div class="col-lg-3 col-sm-6">
                    <div class="view_box"><a href="sponsorprofile?sponsorName={{item.companyname}}&sponsorID={{item._id}}">
                    <h4 class="bursh_text">{{item.companyname}} </h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        </div>
    </div>

</body>
{% endblock main %}
