{% extends 'base.html' %}

{% block main %}



<body style= "background-color:#fef4ec">

    <div class="product_section layout_padding">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{title}}</h1>
                </div>
            </div>


                        
         <div class="product_section_2 layout_padding">
            <div class="row" style="display:flex;justify-content: center;">
                <div>
                    {% set n= (count/12)|round|int %}
                    {% for i in range(1,n) %}
                      <a href="{{url_for('view_athletes',page=i)}}">{{i}}</a> &nbsp;
                     {% endfor %}
                 
                </div>
                {% for item in docs %}
                
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box" ><a href="athleteprofile">
                        <p class="lorem_text">{{item.firstname}} {{item.surname}}</p>
                        <a href= {{url_for('athleteprofile',id=item._id)}}><img src="static/uploads/{{item.profileimg}}" class="image_1"></a>
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li><a href={{url_for('athleteprofile',id=item._id)}}>View Profile</a></li>
                                    <li><a href={{url_for('athleteprofile',id=item._id)}}>View Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div>
                    {% set n= (count/12)|round|int %}
                    {% for i in range(1,n) %}
                      <a href="{{url_for('view_athletes',page=i)}}">{{i}}</a> &nbsp;
                     {% endfor %}
                 
            </div>
        </div>

        
        </div>
    </div>
    
    <script src="static/js/formscripts.js"></script> 
</body>
{% endblock main %}
